/*  
CSS stylesheet for "Horiseon Marketing" webpage.
For UK edX Front End Web Dev week 1 Challenge
*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The background colour for the whole page is a shade of white. */
body {
    background-color: #d9dcd6;
}

/* The background colour for the header is a shade of turquoise.
The font colour for the main logo and navigation links is white.*/
header {
    background-color: #2a607c;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

/* styling for brand logo to put it inline with navigation menu. */ 
h1 {
    display: inline-block;
    font-size: 48px;
}

/* differentiated colour styling for letters "seo" within the brand logo, a shade of grey. */ 
.seo {
    color: #d9dcd6;
}


/* Navigation menu including links, which are in line along the top of the page. */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* hero image on landing page, below header bar and above main page content. */ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* content section includes 3 sections to the left of the landing page, featuring the majority of text plus a corresponding image for each paragraph. 
The sections are displayed in a column one above the other, with each section taking up 75% page width. */ 
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

p {
    font-size: 16px;
}

/* alignment for content images to alternate float L-R-L. */ 
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Further styling for content. Each section features white text on a blue background. */ 
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The 3 images in main content section have same height. */
.content img {
    max-height: 200px;
}

/* h2 headings are used for each of the 3 content sections. */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* benefits section is a sidebar featuring 3 sections in a column, positioned to the right of the main content. The sidebar background is a shade of blue. */ 
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* The benefits sidebar text for all 3 sections is white. */ 
.benefit-cost,
.benefit-brand,
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* h3 headers are only used in benefits sidebar */ 
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* All images in benefits sidebar have matching properties. All images are black icons over the blue sidebar background. */ 
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer section black text on the white background set in the body tag.  */ 
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*#footer-text is a h2 header within the footer. */ 
#footer-text {
    font-size: 20px;
}
